{% extends 'base.html' %}

{% load static %}

{% block css %}
<!-- Plugins css -->
<link href="{% static 'libs/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/dropify/dropify.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            {% include "base_page_title.html" %}


            <div class="card">
                <div class="row">
                    <div class="col-3">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Digital Meeting</h4>
                        </div>
                    </div>
                    <div class="col-7 text-right">
                        <div class="card-body">
                            <form class="app-search" method="post" action="{% url 'digitalMeeting:search' %}">
                                {% csrf_token %}
                                <div class="app-search-box">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="keyword" placeholder="Search..." value="{{ keyword }}">
                                        <div class="input-group-append">
                                            <button class="btn bg-blue" type="submit">
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end card-body-->
                    </div>
                    <div class="col-2 text-right">
                        <div class="card-body">
                            <button class="btn btn-success">
                                New
                                <i class="fe-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>

                {% if meeting_list %}

                    {% for meeting in meeting_list %}

                    <div class="row">
                        <div class="col-4">
                            <div class="card-body">
                                <img src="{{ meeting.thumbnail }}" class="img-fluid rounded" alt="thumbnail">
                            </div> <!-- end card body-->
                        </div>
                        <div class="col-6">
                            <div class="card-body px-0">
                                <h3 class="card-title mb-1">{{ meeting.title }}</h3>
                                <p class="card-text mb-3">{{ meeting.pub_date }}</p>
                                <p class="card-text mb-3">{{ meeting.description }}</p>

                                <a href="{% url 'digitalMeeting:detail' meeting.id %}">
                                    <button class="btn btn-primary">View meeting</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <div class="card-body">
                                <a href="{% url 'digitalMeeting:edit' meeting.id %}">
                                    <button class="btn btn-outline-warning">
                                        <i class="fe-edit-2"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end row-->

                    {% endfor %}
                
                {% else %}

                <div class="row">
                    <div class="col-12 text-center">
                        <p class="my-4">No meeting found</p>
                    </div>
                </div>

                {% endif %}
                
            </div>

        </div> <!-- container -->

    </div> <!-- content -->

    {% include "base_footer.html" %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

{% endblock %}

{% block js %}

<script src="{% static 'libs/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'libs/dropify/dropify.min.js' %}"></script>

<!-- Init js-->
<script src="{% static 'js/pages/form-fileuploads.init.js' %}"></script>

<script type="text/javascript">

    $('.custom-file input').change(function (e) {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        $(this).next('.custom-file-label').html(files.join(', '));
    });

    </script>

{% endblock %}